<!doctype html>
<html>
<head>
	<title>Tarot Drawings!</title>
</head>
<body>
<header>
	<h1>Tarot Drawings!</h1>
</header>
<h3>CS602 Final Project - Alan Krajbich</h3>
<hr/>
	
	{{{body}}}

</body>
</html>

