<!doctype html>
<html>
<head>
	<title>Tarot Drawings!</title>
</head>
<body>
<header>
	{{session}}
	<a href="/drawcard">DrawACard</a>   |   <a href="/drawcards?draw=3">DrawASpread</a> |<a href="/gethistory/{{username}}">User History</a> | <a href="/users">All Users</a> | <a href="/settings">Settings</a> | <a href="/login">LogIn</a> | <a href="/logout">LogOut</a> | <a href="/addUser">AddUser</a>
	<h1>Tarot Drawings!</h1>
</header>
<h3>CS602 Final Project - Alan Krajbich</h3>
<hr/>
	
	{{{body}}}

</body>
</html>

